
@{
    ViewBag.Title = "LoginFail";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Account or Passwork is incorrect</h2>
<a href="@Url.Action("Index", "Login")">Click hereto go back to login page.</a>

